<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Blackjack Play</title>
</head>
<body>
	<br> The current bet is: ${{ TheGame.getCurrentBet }}
	<br> Your current bank balance is: ${{ TheGame.player.getBankTotal
	}}

	<div>
		<h2>House hand</h2>
		<p>{{ TheGame.house.houseHand.getCards.0 }}</p>
		<p>??</p>
	</div>
	<div>
		<h2>Player hand</h2>
		{{#TheGame.player.playerHand.cards}}
		<p>{{ rank }} of {{ suit }}</p>
		{{/TheGame.player.playerHand.cards}}
		{{ TheGame.player.playerHand.getTotal }}
	</div>
	
	<form action="/hit" method="post">
		<button>Hit Me!</button>
	</form>

	
	
	<form action="/stand" method="post">
		<button>Stand</button>
	</form>
</body>
</html>
